@font-face {
    font-family: 'Gotham Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Medium'), url('fonts/GothamMedium.woff') format('woff');
}
@font-face {
    font-family: 'Gotham Black';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Black'), url('fonts/Gotham-Black.woff') format('woff');
}
body {

    font-family: 'Gotham Book', Arial, sans-serif;
}

.vidbg-container {
    position: relative;
    background-attachment: scroll;
    overflow: hidden;
}
.vidbg-container video {
    position: relative;
    z-index: -1;
}
.vidbg-container .vidbg-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* index2.html and index3.html styles */
.image-section-2 {
    min-height: 500px;
    background-size: cover;
}



.lambent-text {
    position: relative;
    left: 15%;
    width: 100%;
    height: 500px;
    background-size:contain;
    background-blend-mode: screen;
    clip-path: url(#svgTextPath);
    background-image: url('wp-content/uploads/2019/06/background_video.jpg');
    background-attachment: fixed;
    background-position: center center;

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .video-svg {
        height: 100px;
        width: 420px;
    }

    #svgTextPath {
        font-family: 'Gotham Black', Arial, sans-serif;
        font-size: 5em;
        font-weight: 500;
    }
    .image-section-2 {
        height: 300px;
    }
    .lambent-text {
        left: 15%;
        width: 100%;
        height: 200px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .video-svg {
        height: 150px;
        width: 600px;
    }

    #svgTextPath {
        font-family: 'Gotham Black', Arial, sans-serif;
        font-size: 5em;
        font-weight: 500;
    }
    .image-section-2 {
        height: 450px;
    }
    .lambent-text {
        position: relative;
        left: 10%;
        width: 100%;
        height: 450px;

    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .video-svg {
        height: 150px;
        width: 680px;
    }
    #svgTextPath {
        font-family: 'Gotham Black', Arial, sans-serif;
        font-size: 8em;
        font-weight: 500;
    }
    .image-section-2 {
        height: 450px;
    }
    .lambent-text {
        position: relative;
        left: 10%;
        width: 100%;
        height: 450px;

    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .video-svg {
        height: 230px;
        width: 740px;
    }

    #svgTextPath {
        font-family: 'Gotham Black', Arial, sans-serif;
        font-size: 8em;
        font-weight: 500;
    }

    .image-section-2 {
        height: 450px;

    }

    .lambent-text {
        position: relative;
        left: 15%;
        width: 100%;
        height: 450px;

    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {


    .video-svg {
        height: 280px;
        width: 800px;
    }
    #svgTextPath {
        font-family: 'Gotham Black', Arial, sans-serif;
        font-size: 8em;
        font-weight: 500;
    }
    .image-section-2 {
        height: 450px;
    }
    .lambent-text {
        position: relative;
        left: 25%;
        width: 100%;
        height: 450px;

    }
}
