@font-face {
    font-family: 'Gotham Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Medium'), url('fonts/GothamMedium.woff') format('woff');
}
@font-face {
    font-family: 'Gotham Black';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Black'), url('fonts/Gotham-Black.woff') format('woff');
}
body {

    font-family: 'Gotham Book', Arial, sans-serif;
}
.image-section {
    background-image: url('images/RTM19-banner-web-flipped.jpg');
}
.image-section img {
    width: 100%;

}
.mask4 {
    -webkit-mask-image: url('images/lambent logo 7A gotham ultra white 2.png');
    mask-image: url('images/lambent logo 7A gotham ultra white 2.png');
    -webkit-mask-size: 40% 80%;
    mask-size: 40% 80%;
    -webkit-mask-attachment: scroll;

}


/* index2.html styles */

#svgTextPath {
    font-family: 'Gotham Black', Arial, sans-serif;
    font-size: 10em;
    font-weight: 700;
}


.image-section-2 {
    min-height: 500px;
    background-image: url('images/RTM19-banner-web-flipped.jpg');
    background-size: cover;
}



.lambent-text {
    position: relative;
    left: 15%;
    width: 100%;
    height: 500px;
    background-size:cover;
    background-blend-mode: screen;
    clip-path: url(#svgTextPath);
    background-image: url('images/RTM19-banner-web.jpg');
    background-attachment: fixed;

}@media only screen and (max-width: 1800px) {
    #svgTextPath {
        font-family: 'Gotham Black', Arial, sans-serif;
        font-size: 8em;
        font-weight: 500;
    }
    .image-section-2 {
        height: 450px;
        background-image: url('images/RTM19-banner-web-flipped.jpg');
        background-size: cover;
    }
    .lambent-text {
        position: relative;
        left: 25%;
        width: 100%;
        height: 450px;
        background-size:cover;
        background-blend-mode: screen;
        clip-path: url(#svgTextPath);
        background-image: url('images/RTM19-banner-web.jpg');
        background-attachment: fixed;

    }
}
@media only screen and (max-width: 1500px) {
    #svgTextPath {
        font-family: 'Gotham Black', Arial, sans-serif;
        font-size: 8em;
        font-weight: 500;
    }
    .image-section-2 {
        height: 450px;
        background-image: url('images/RTM19-banner-web-flipped.jpg');
        background-size: cover;
    }
    .lambent-text {
        position: relative;
        left: 25%;
        width: 100%;
        height: 450px;
        background-size:cover;
        background-blend-mode: screen;
        clip-path: url(#svgTextPath);
        background-image: url('images/RTM19-banner-web.jpg');
        background-attachment: fixed;

    }
}

@media only screen and (max-width: 992px) {
    #svgTextPath {
        font-family: 'Gotham Black', Arial, sans-serif;
        font-size: 8em;
        font-weight: 500;
    }
    .image-section-2 {
        height: 450px;
        background-image: url('images/RTM19-banner-web-flipped.jpg');
        background-size: cover;
    }
    .lambent-text {
        position: relative;
        left: 10%;
        width: 100%;
        height: 450px;
        background-size:cover;
        background-blend-mode: screen;
        clip-path: url(#svgTextPath);
        background-image: url('images/RTM19-banner-web.jpg');
        background-attachment: fixed;

    }
}

@media only screen and (max-width: 600px) {
    #svgTextPath {
        font-family: 'Gotham Black', Arial, sans-serif;
        font-size: 5em;
        font-weight: 500;
    }
    .image-section-2 {
        height: 300px;
        background-image: url('images/RTM19-banner-web-flipped.jpg');
        background-size: cover;
    }
    .lambent-text {
        position: relative;
        left: 5%;
        width: 100%;
        height: 300px;
        background-size:cover;
        background-blend-mode: screen;
        clip-path: url(#svgTextPath);
        background-image: url('images/RTM19-banner-web.jpg');
        background-attachment: fixed;

    }
}
